<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your intrest</h1>
    <p>
      Your api access_token: <%=@access_token%>
    </p>


    <p>Enjoy !</p>
  </body>
