<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <p> Hi&nbsp;<%=@user.name%>,</p>
  <p>Your profile is updated</p>
  <p>visit to see latest movies <%=Rails.application.secrets.url%></p>
  <body>
  </body>
</html>
