
  <% @limited_comments.each do |comment|%>
    <div class="col-md-12">
      <%if movie.id == comment.movie_id %>
      <span><i class="glyphicon glyphicon-user" style="    font-size: large;"></i>
      <strong><%=User.find(comment.user_id).name%></strong></span><br>
      <p class="col-sm-offset-1"><%=comment.body%></p><hr>
      <%end%>
    </div>

      <%end%>
