<div class="row">
    <div class="col-md-12">

      <ul class="horizontal-slide">
        <% movies.each do |movie|%>
        <li class="col-sm-2">
          <a href="<%=movie_path(movie.id)%>">
            <img class="thumbnail" src="<%=movie.image_url%>"/>
          </a>
        </li>
        <%end%>
        <li class="col-md-1"><%=link_to 'Browse More', detail_movies_path(view: view)%></li>

      </ul>
  </div>
</div>
