<div class="container">
<div class ="row">
  <%=render partial: "movie_detail", locals: {movie: @movies}%>
</div>
<br><br><br>
<div class="row">
  <div class="col-sm-6">
		<h1>comments</h1>
    <%=render 'movie_comment'%>
  </div>
  <div class="col-sm-6">
    <ul class="list-group">
      <h1>Top Rated of same genre </h1>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-6"><strong>TITLE</strong></div>
          <div class="col-sm-6"><strong>GENRE</strong></div>
        </div>
      </li>
      <%@movies_list.each do |movie|%>
      <%if movie.genre == @movies.genre%>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-6"><%=movie.title%></div>
          <div class="col-sm-6"><%=movie.genre%></div>

        </div>
      </li>
      <%end%>
      <%end%>
    </ul>
  </div>
</div>
</div>
