// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.glyphicon {
    font-size: 50px;
}
ul.horizontal-slide {
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}

ul.horizontal-slide li[class*="col"] {
    display: inline-block;
    float: none;
}

ul.horizontal-slide li[class*="col"]:first-child {
    margin-left: 0;
}
