<div class=""style="
    padding-left: 15px;
    padding-right: 15px;">
<footer id="myFooter">
  <div class="row navbar-inverse" >
        <div class="col-md-12">
            <div class="col-md-4">
                <h2 class="logo"><a href="#"> MOVIE STORE </a></h2>
            </div>
            <div class="col-md-4">
                <h5>Get started</h5>
                <ul>
                    <li><a href="<%=movies_path%>">Home</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <div class="social-networks">
                    <a href="https://twitter.com" class="twitter"><i class="fa fa-twitter"></i></a>

                    <a href="https://plus.google.com" class="google"><i class="fa fa-google-plus"></i></a>
                </div>
                <a href=""><button type="button" class="btn btn-default">Contact us</button>
            </div>
        </div>
    </div>
    <div class = "clearfix"></div>
    <div class="footer-copyright text-center ">
        <p>© 2017 Movie Store </p>
    </div>
</footer>
</div>
